
input.weightScale{
    width: 44px;
}
 .panel-info-darken {
  background-color: #53A68D;
 }
 a.panel-info-darken:hover {
   background-color: #bde6f2;
}

.stateAxes path,
.stateAxes line {
    fill: none;
    stroke: #bbb;
    stroke-width: 1;
}
.stateAxes text {
    font-size: 10px;
}

#hideShowBox{
	font-size: 10px;
} 

#map-control-1{
	font-size:10px;
}

#parallelCheckBox{
	background-color: #ffffff;
}

#parallelSchoolType{
	display: none;
	font-size: 10px;
}
#floatingDiv{
	background-color: #999; 
	z-index: 100;
	position: absolute;opacity: .2;
}
#univDataDiv{
	display: none;
	z-index: 101;
	position: absolute;
	opacity: 1;
	background-color: #ffffff;
}
.minititle{
	font-size:5 em;
	text-align: center;
}

#filterByYear{
	margin-top:-10px;
}