text.schoolLabel
{
    fill: #ffffff;
    font-size: 7pt;
}

input.weightScale{
    width: 44px;
}
 .panel-info-darken {
  background-color: #53A68D;
 }
 a.panel-info-darken:hover {
   background-color: #bde6f2;
}

 div#univDataDiv{
     padding: 10px;
     border: 1px solid gray;
 }

div#univDataDivText{
    font-size: 7pt;
    overflow: scroll;
}

.univName{
 font-size: 10pt;
}

.divCloser{
    cursor: hand;
}